<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5246911-4']);
            _gaq.push(['_setDomainName', 'scumbagify.me']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
    </head>
    <body>
        <a href="https://github.com/mwhooker/scumbagify.me">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
        </a>
        <img src="http://dqphrr272g1yl.cloudfront.net/0.20_d48937b024d0b59d90f90a3c91425a42.jpg" />
        <h1>http://scumbagify.me/?src=<em>YOUR_IMAGE_URL</em></h1>
    </body>
</html>
